<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Galeri - Lingkungpasir</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../assets/img/terbaru/logo.svg" rel="icon">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">
  <style>
    .page {
            display: none;
        }
        .page.active {
            display: block;
        }
  </style>

  <!-- =======================================================
  * Template Name: Serenity
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="../../index.html">
          <img src="../../assets/img/terbaru/logo.svg" alt="" srcset="">
        Lingkungpasir</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="../../assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class=""  href="../../index.html">Beranda</a></li>
          <li><a class="" href="../../template/mix/profile.html">Profil Desa</a></li>
          <li class="dropdown"><a href="#"><span class="">Pemerintahan</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../../template/pemerintahan/struktur_organisasi.html">Struktur Organisasi</a></li>
              <li><a href="../../template/pemerintahan/kelembagaan.html">Kelembagaan</a></li>
              <li class="dropdown"><a href="#"><span>Perangkat Desa</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../../template/pemerintahan/perangkat_desa/kades.html">Kepala Desa</a></li>
                  <li><a href="../../template/pemerintahan/perangkat_desa/sekdes.html">Sekretaris</a></li>
                  <li><a href="../../template/pemerintahan/perangkat_desa/kaur.html">Kepala Urusan</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span class="active">Informasi Publik</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../../template/informasi_publik/agenda.html">Agenda Kegiataan</a></li>
              <li><a href="../../template/informasi_publik/galeri.html" >Galeri</a></li>
              <!-- <li><a href="../../template/perangkat_desa/kaur.html">Artikel</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="../../template/mix/dokumentasi.html">Dokumentasi</a></li> -->
          <!-- <li><a href="pricing.html">Kegiataan</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li> -->

          <li><a class="" href="../../template/mix/kontak.html">Kontak</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Galeri</h2>
            <!-- <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> -->
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <!-- <li><a href="index.html">Home</a></li>
          <li>Portolio</li> -->
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <!-- <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> -->

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Judul</h4>
                <div class="portfolio-links">
                  <a href="../../assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <!-- <p>Web</p> -->
                <div class="portfolio-links">
                  <a href="../../assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <!-- <p>App</p> -->
                <div class="portfolio-links">
                  <a href="../../assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

       

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-info">
          <h3><img src="../../assets/img/terbaru/logo.svg" alt="" width="65px" height="65px" srcset=""> Lingkungpasir</h3>
          <p>Desa Lingkungpasir adalah salah satu desa yang berada di Kecamatan 
            Cibiuk Kabupaten Garut. Desa Lingkungpasir Merupakan Desa Pamekaran 
            Dari Desa Majasari, yang berdiri tanggal 12 Februari 1979. Kecamatan 
            Cibiuk itu sendiri merupakan pamekaran dari Kecamatan Kadungora. 
            Sebelum menjadi kecamatan, Cibiuk merupakan Kamantren yang 
            mewilayahi 5 (lima) desa yaitu Desa Cipareuan, Desa Cibiuk Kidul, Desa 
            Cibiuk Kaler, Desa Majasari dan Desa Lingkungpasir. Kecamatan Cibiuk 
            resmi menjadi Kecamatan sekitar tahun 1992. </p>
        </div>

         <div class="col-lg-3 col-md-6 footer-newsletter">
          <!-- <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form> -->
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Hubungi Kami</h4>
          <p>
            Desa Lingkungpasir, <br>
            Kecamatan Cibiuk, <br>
            Kabupaten Garut. <br>
            <strong>Telepon:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <script>document.write(new Date().getFullYear())</script>  <strong><span>PPM XXVI 2023</span></strong>. STMIK JABAR
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
      Desa <a href="/#"> Lingkungpasir</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../../assets/vendor/aos/aos.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../../assets/js/main.js"></script>
  

</body>

</html>