<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profil - Lingkungpasir</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../assets/img/terbaru/logo.svg" rel="icon">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">
  <style>
    .page {
            display: none;
        }
        .page.active {
            display: block;
        }
  </style>

  <!-- =======================================================
  * Template Name: Serenity
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="../../index.html">
          <img src="../../assets/img/terbaru/logo.svg" alt="" srcset="">
        Lingkungpasir</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="../../assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class=""  href="../../index.html">Beranda</a></li>
          <li><a class="active" href="../../template/mix/profile.html">Profil Desa</a></li>
          <li class="dropdown"><a href="#"><span class="">Pemerintahan</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../../template/pemerintahan/struktur_organisasi.html">Struktur Organisasi</a></li>
              <li><a href="../../template/pemerintahan/kelembagaan.html">Kelembagaan</a></li>
              <li class="dropdown"><a href="#"><span>Perangkat Desa</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../../template/pemerintahan/perangkat_desa/kades.html">Kepala Desa</a></li>
                  <li><a href="../../template/pemerintahan/perangkat_desa/sekdes.html">Sekretaris</a></li>
                  <li><a href="../../template/pemerintahan/perangkat_desa/kaur.html">Kepala Urusan</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Informasi Publik</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../../template/informasi_publik/agenda.html">Agenda Kegiataan</a></li>
              <li><a href="../../template/informasi_publik/galeri.html" >Galeri</a></li>
              <!-- <li><a href="../../template/perangkat_desa/kaur.html">Artikel</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="../../template/mix/dokumentasi.html">Dokumentasi</a></li> -->
          <!-- <li><a href="pricing.html">Kegiataan</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li> -->

          <li><a class="" href="../../template/mix/kontak.html">Kontak</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Tentang</h2>
            <p>Desa Lingkungpasir adalah salah satu desa yang berada di Kecamatan 
                Cibiuk Kabupaten Garut. Desa Lingkungpasir Merupakan Desa Pamekaran 
                Dari Desa Majasari, yang berdiri tanggal 12 Februari 1979. Kecamatan 
                Cibiuk itu sendiri merupakan pamekaran dari Kecamatan Kadungora. 
                Sebelum menjadi kecamatan, Cibiuk merupakan Kamantren yang 
                mewilayahi 5 (lima) desa yaitu Desa Cipareuan, Desa Cibiuk Kidul, Desa 
                Cibiuk Kaler, Desa Majasari dan Desa Lingkungpasir. Kecamatan Cibiuk 
                resmi menjadi Kecamatan sekitar tahun 1992. 
                </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <!-- <li><a href="index.html">Beranda</a></li>
          <li>Profil</li> -->
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->



    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
      <div class="container">

        
        <div class="section-title" data-aos="fade-up">
          <h2>Visi</h2>
          <p style="text-align: center;">“ Menjadikan Lingkungpasir Kuda (Kuat Unggul Dinamis Agamis) dan PETIR (Penguatan Teknologi Ekonomi dan Religius) dengan Kreasi, Inovasi dan Kolaborasi. "<p>
        </div>

        <div class="section-title" data-aos="fade-up">
            <h2>Misi</h2>
            <li style="text-align: justify;">Membangun Masyarakat Yang Agamis, Berkualitas Dan Berdaya Saing.</li>
            <li style="text-align: justify;">Membangun Perekonomian Yang Kreatif, Inovatif Dan Berkeadilan Melalui Pemanfaatan Teknologi Digital Dan Kolaborasi.</li>
            <li style="text-align: justify;">Mewujudkan Lingkungpasir Yang Aman Dan Nyaman Dengan Pembangunan Yang Pro Lingkungan Dan Berkelanjutan</li>
            <li style="text-align: justify;">Mengokohkan Kehidupan Sosial Kemasyarakatan Melalui Peningkatan Peran Pemuda, Olahraga, Seni Dan Budaya Dalam Bingkai Kearifan Lokal.</li>
            <li style="text-align: justify;">Mewujudkan Tata Kelola Pemerintahan Yang Inovatif Dan Kepemimpinan Yang Kolaboratif Dari Pemerintahan Pusat Sampai Tingkat RT</li>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="../../../assets/img/work-process-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Keunggulan</h3>
            <ul>
                <p>1. Potensi Desa</p>
            </ul>
                <li>Peternakan Domba</li>
                <p style="padding-left: 50px;">Desa Lingkungpasir mendapat bantuan ternak domba dari 
                    dana APBN dan perkembangannya cukup bagus. Karena kelompok ternak 
                    domba dinilai berhasil dalam mengelola peternakan domba yang 
                    dipercayakan oleh pemerintah, sehingga pada tahun 2012 kelompok 
                    ternak domba “ Sauyunan” mendapat predikat terbaik untuk pengelolaan 
                    ternak domba tingkat kabupaten Garut. Selanjutnya kelompok ternak “ 
                    Sauyunan “ mendapat kepercayaan untuk mengikuti lomba kelompok 
                    ternak tingkat provinsi Jawa Barat. Walaupun belum berhasil menjadi 
                    juara, tetapi setidaknya keberhasilan para petani ternak khususnya 
                    kelompok ternak sauyunan dapat terus mengembangkan usahanya untuk 
                    kemajuan Desa Lingkungpasir masa kini dan masa yang akan datang.</p>
                    
            </p>
            <p>2. Pertanian</p>
                <li> Jagung </li>
                    <li> Singkong</li>
          </div>
        </div>
      </div>
    </section><!-- End Work Process Section -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>

    <!-- ======= Our Clients Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Sejarah Desa Lingkungpasir</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        <p style="text-align: justify;">
           &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Sejarah pemberian nama Desa Lingkungpasir, kenapa diberi nama 
            Lingkungpasir? Tidak ada latar belakang yang jelas atau sejarah khusus 
            tentang asal usul penamaan desa mengapa dinamai Lingkungpasir.
            Berdasarkan keterangan dari para pendiri dan pendahulu Desa 
            Lingkungpasir, ketika itu pernah terjadi pebicaraan diantara para tokoh 
            masyarakat tentang nama desa yang akan dimekarkan. Diantara para tokoh 
            ada yang menginginkan nama desa tersebut adalah Desa Mekar Sari dengan 
            alasan desa ini adalah pamekaran dari Desa Majasari. Ada juga yang mau 
            memberi nama Desa Ciawi karena rencana kantor desa akan ditempatkan di 
            Kp. Ciawi, alasan kedua pada masa penjajahan di Wilayah Kp. Ciawi dan 
            sekitarnya, ada sebuah desa yang cukup maju namanya Desa Ciawi. 
            Kemudian diantara para tokoh yang hadir ketika itu ada yang 
            mengusulkan nama lain, selain dua nama yang diusulkan pada musyawarah 
            tersebut yaitu nama Lingkungpasir dengan alasan wilayah desa pamekaran 
            ini secara geografis terdiri dari banyak pasir - pasir atau “dilingkung ku 
            pasir-pasir “. Pasir-pasir yang ada diantaranya Pasir Naggoh, Pasir 
            Tanggulun Pasir Rancak, Pasir Terong, Pasir Mongor, Pasir Kukun, Pasir 
            Biung, Pasir Panglay. Rupanya nama itulah yang kemudian desepakati 
            untuk dijadikan nama desa yang merupakan desa pamekaran dari Desa 
            Majasari tersebut.
            Alasan pemberian nama desa atau nama daerah memang tidak terlalu 
            penting. Orang mengatakan apalah artinya sebuah nama. Yang penting 
            sebagai desa pamekaran tentunya masyarakat Desa Lingkungpasir punya 
            keinginan yang kuat untuk maju. Oleh karena itu tidaklah heran sejak 
            berdiri sampai dengan sekarang masyarakat Desa Lingkungpasir bersama 
            dengan pemerintahannya terus giat menata diri dan membangun desanya. 
            Walaupun tentunya belum semua yang diharapkan oleh para pendiri 
            dan pendahulu Desa Lingkungpasir dapat terwujud. Hal ini disebabkan 
            adanya beberapa hal yang di luar batas kemampuan masyarakat dan 
            pemerintahan Desa Lingkungpasir. Terutama yang berkaitan dengan Sumber 
            Daya Manusia untuk mengelola Sumber Daya Alam dan Sumber Anggaran 
            Desa Lingkungpasir yang masih sangat terbatas. Akan tetapi dengan kondisi
            dan kemampuan yang ada masyarakat dan pemerintahan Desa 
            Lingkungpasir tetap ingin maju dan sejajar dengan desa-desa lain di 
            Kabupaten Garut yang sudah lebih dulu maju.
            Sejak berdiri sampai dengan sekarang Desa Lingkungpasir telah 
            mengalami beberapa kali pergantian kepemimpinan. Pada saat pemekaran 
            Desa Lingkungpasir dipimpin oleh Penjabat Kepala Desa Bapak Saepudin 
            seorang pensiunan PNS ABRI dari Kp. Maja Desa Majasari. Untuk kantor 
            pemerintahan desa ketika itu Kantor Desa Lingkungpasir menggunakan 
            rumah penduduk milik Bapak Ahun. Kemudian pindah kerumah Nini Ucu ( 
            keduanya berada di Kp. Ciawi ). 
            Kemudian pada tahun 1982 pemerintah dan masyarakat Desa 
            Lingkungpasir merencanakan untuk membangun kantor Desa Lingkungpasir 
            diatas tanah seluas 50 tumbak. Tanah tersebut hasil tukar guling antara 
            tanah milik warga dengan tanah carik desa dengan perbandingan 1 ( satu ) 
            tumbak tanah milik warga ditukar dengan tanah carik sebanyak 5 ( lima ) 
            tumbak. Ketika itu yang menjadi Kepala Desa adalah masih Bapak Saefudin
            ( Penjabat Kepala Desa ).
            Selanjutnya pada tahun 1984 diadakan pemilihan Kepala Desa untuk 
            yang pertama kalinya. Kandidat calon Kepala Desa ketika itu adalah Bapak 
            Aceng seorang PNS dari Departemen Pendidikan dan Kebudayaan dan Bapak 
            Daman seorang pensiunan PNS ABRI. Keduanya berasal dari Kampung 
            Cihanja. Bapak Aceng ketika itu adalah berstatus putra desa ( lahir di Kp. 
            Cihanja dan pernah dibesarkan di Kp. Cihanja. Karena tuntutan pekerjaan 
            beliau tinggal diluar desa ). 
            Hasil pemilihan ketika itu, yang meraih suara terbanyak adalah bapak 
            Daman seorang pensiunan. Beliau memimpin Desa Lingkungpasir selama 8 
            tahun ( 1984-1992 ). Kemudian menjabat sebagai penjabat kepala desa 
            selama 2 tahun ( 1993-1994 ).
            Pada masa pemerintahan Bapak Daman lah dibangun Kantor Desa 
            Lingkungpasir. Setelah Bapak Daman selesai menjalani tugasnya, maka yang 
            menjadi Kepala Desa selanjutnya adalah Bapak Ohim yang meraih suara 
            terbanyak mengalahkan Bapak Odo. Beliau memimpin Desa Lingkungpasir 
            kurang lebih dua setengah tahun yaitu dari tahun 1995 – 1997. Beliau 
            mengundurkan diri sebelum habis masa jabatannya.
            Tampil memimpin Desa Lingkungpasir berikutnya adalah Bapak 
            Amat, yang meraih suara terbanyak mengalahkan Bapak Uyuh Jaenudin. 
            Beliau memimpin selama 5 tahun yaitu dari tahun 1998 – 2004. Ketika itu 
            ada perubahan periode jabatan Kepala Desa dari 5 ( lima ) tahun menjadi 8 ( 
            delapan ) tahun. Akan tetapi beliau mengambil yang 5 (lima) tahun.
            Yang menjadi Kepala Desa berikutnya adalah Bapak Uyuh Jaenudin 
            yang meraih suara terbanyak mengalahkan saingannya yaitu Bapak Aat 
            Sapaat. Beliau memimpin Desa Lingkungpasir selama empat tahun delapan 
            bulan yaitu dari tahun 2005 – 2010. Beliau mengundurkan diri dari jabatan 
            kepala desa sebelum habis masa jabatannya. Padahal masa jabatan kepala 
            desa ketika itu tinggal 4 bulan lagi. Beliau mengundurkan diri karena sakit.
            Kemudian pada 2010 diadakan pemilihan kepala desa untuk yang 
            kelima kalinya dengan calon kepala desa sebanyak 4 ( empat ) orang. 
            Pertama kali dalam sejarah Desa Lingkungpasir ada calon kepala desa lebih 
            dari dua orang. Dari ke empat calon tersebut satu orang diantanranya 
            merupakan calon yang berasal atau berstatus putra desa, sedangkan yang 
            lainnya berstatus sebagai penduduk desa setempat. Tampil sebagai calon 
            kepala desa yang meraih suara terbanyak pada pemilihan calon Kepala Desa 
            Tanggal 22 November 2010 adalah Bapak Drs. Atib yang berstatus sebagai 
            putra desa sebagaimana tersebut di atas. Bapak Drs. Atib diangkat menjadi 
            Kepala Desa Lingkungpasir Berdasarkan SK. Bupati Garut Nomor : 
            141.1/Kep.528-BPMPD/2010 tanggal 16 Desember 2010. Beliau dilantik 
            menjadi Kepala Desa Lingkungpasir oleh Bupati Garut Bapak H. Aceng H.M. 
            Fikri, S.Ag Tanggal 22 Desember 2010, untuk masa bakti selama 6 ( Enam ) 
            tahun terhitung sejak tanggal pelantikan. Hal ini mengacu kepada Perda 
            Kabupaten Garut Nomor 8 tahun 2006 bahwa masa jabatan Kepala Desa 
            adalah 6 tahun. 
            Namun beliau dalam melaksanakan tugas sebagai kepala desa tidak 
            sampai pada batas waktu yang telah diatur oleh undang-undang tentang 
            masa bakti kepala desa yaitu selama 6 tahun. Beliau hanya sampai pada 
            tahun ke 4 masa pemerintahannya dikarnakan terkendala dengan aturan 
            pemerintah yaitu tentang PP No 5 Tahun 2014 tentang PNS, karena beliau 
            selain menjabat seabagai kepala desa beliau juga pada waktu itu bersetatus 
            sebagai PNS di lingkungan KEMENAG Kab. Garut dan bertugas di Kantor 
            Urusan Agama (KUA) Kecamatan Cibiuk menjabat sebagai Penyuluh Agama 
            Tingkat Kecamatan Cibiuk. Maka dalam mengisi kekosongan posisi kepala 
            desa pasca sepeninggal Bp. Drs ATIB selanjutnya desa lingkungpasir di jabat 
            oleh Bpk Dayat Hidayat yang berstatus sebagai PNS Kecamatan ( Kasi 
            Pemerintahan Kec. Cibiuk ) dalam melaksanakan roda pemerintahan desa 
            lingkungpasir samapai ada Kepala desa definitif yang baru.
            Pada tanggal 21 mei 2015, masyarakat Desa Lingkungpasir Kembali 
            melaksanakan pemilihan kepala Desa untuk masa bakti 2015 – 2021. 
            Dimana dalam pelaksanaan Pilkades tahun 2015 melahirkan satu nama 
            kepala desa terpilih yaitu Bpk. ROBI ASMARA. Dan pada tanggal 27 Juli 
            2015 beliau dilantik secara resmi oleh Bupati Garut bertempat gedung 
            pendopo garut. Dengan SK.No. 141 / Kep.956 – BPMPD/ 2015. 
            Pada tanggal 8 Juni 2021 masyarakat Desa Lingkungpasir kembali 
            mengadakan pesta demokrasi pemilihan kepala Desa Lingkungpasir masa 
            bakti 2021-2027. Dalam pelaksanaan pemilihan Kepala desa terdapat tiga 
            calon kepala Desa diantaranya Wawan Ridwan, Prihata fathurohman dan 
            Dede firman. Dari hasil pemilihan Kepala desa yang berlangsung pada 
            tanggal 8 juni, terpilihlah Kepala Desa yang baru yaitu PRIHATA 
            FATHUROHMAN,S.IP. Dan pada tanggal 28 Juli 2021 Kepala Desa terbaru 
            dilantik secara resmi oleh Oleh Bupati garut Rudi gunawan secara virtual 
            bertempat di kantor Kecamatan Cibiuk. Dengan SK.NO: 141.1/KEP.716-
            DPMD/2021. <br>
            Berikut adalah para Kepala Desa dan PJS Kepala Desa yang memimpin 
            Desa Lingkungpasir Kecamatan Cibiuk Kabupaten Garut: </p>
            <p style="text-align: justify; padding-left: 30px;">1. Saefudin ( PJS Kepala Desa ) ( 1979-1985)</p>
            <p style="text-align: justify; padding-left: 30px;">2. Daman ( Kepala Desa Definitif ) ( 1985 - 1992 )</p>
            <p style="text-align: justify; padding-left: 30px;">3. Daman ( PJS Kepala Desa ) ( 1993-1995 )</p>
            <p style="text-align: justify; padding-left: 30px;">4. Ohim ( Kepala Desa Definitif ) ( 1995 - 1998 )</p>
            <p style="text-align: justify; padding-left: 30px;">5. Dedi Rohmat ( PJS Kepala Desa ) ( 1998 - 1999 )</p>
            <p style="text-align: justify; padding-left: 30px;">6. Amat ( Kepala Desa Definitif ) ( 1999 - 2004 )</p>
            <p style="text-align: justify; padding-left: 30px;">7. Aat Syafaat ( PJS Kepala Desa ) ( 2004-2005 )</p>
            <p style="text-align: justify; padding-left: 30px;">8. Rosid ( PJS Kepala Desa ) ( 2005 – 2005 )</p>
            <p style="text-align: justify; padding-left: 30px;">9. Uyuh Jaenudin ( Kepala Desa Definitif ) ( 2005- 2010 )</p>
            <p style="text-align: justify; padding-left: 30px;">10. Rudi Herdiansyah, S.Ip (PJS Kepala Desa ) ( 2010 )</p>
            <p style="text-align: justify; padding-left: 30px;">11. Drs. Atib ( Kepala Desa Definitif ) ( 2010 - 2015 )</p>
            <p style="text-align: justify; padding-left: 30px;">12. Dayat ( PJS Kepala Desa Lingkungpasir ) (2015)</p>
            <p style="text-align: justify; padding-left: 30px;">13. Robi Asmara (Kepala Desa Lingkungpasir) (2015 – 2021)</p>
            <p style="text-align: justify; padding-left: 30px;">14. Prihata Fathurohman (Kepala Desa Lingkungpasir) (2021-2027)</p>
        </div>
      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-info">
          <h3><img src="../../assets/img/terbaru/logo.svg" alt="" width="65px" height="65px" srcset=""> Lingkungpasir</h3>
          <p>Desa Lingkungpasir adalah salah satu desa yang berada di Kecamatan 
            Cibiuk Kabupaten Garut. Desa Lingkungpasir Merupakan Desa Pamekaran 
            Dari Desa Majasari, yang berdiri tanggal 12 Februari 1979. Kecamatan 
            Cibiuk itu sendiri merupakan pamekaran dari Kecamatan Kadungora. 
            Sebelum menjadi kecamatan, Cibiuk merupakan Kamantren yang 
            mewilayahi 5 (lima) desa yaitu Desa Cipareuan, Desa Cibiuk Kidul, Desa 
            Cibiuk Kaler, Desa Majasari dan Desa Lingkungpasir. Kecamatan Cibiuk 
            resmi menjadi Kecamatan sekitar tahun 1992. </p>
        </div>

         <div class="col-lg-3 col-md-6 footer-newsletter">
          <!-- <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form> -->
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Hubungi Kami</h4>
          <p>
            Desa Lingkungpasir, <br>
            Kecamatan Cibiuk, <br>
            Kabupaten Garut. <br>
            <strong>Telepon:</strong> +62 823-1911-1534<br>
            <strong>Email:</strong> lingkungpasir@gmail.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <script>document.write(new Date().getFullYear())</script>  <strong><span>PPM XXVI 2023</span></strong>. STMIK JABAR
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
      Desa <a href="/#"> Lingkungpasir</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../../assets/vendor/aos/aos.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../../assets/js/main.js"></script>
  

</body>

</html>